# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

*.dll
*.exe
*.raw
*.wav
a.out
*.user
*.dat
*.png
*.bat
*.txt
*.html
*.css
*.htm
*Interface
*juliusSub
*.log
*.cache
*.status
